---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Privacy Policy" description="Moonbeam Talent privacy policy.">
  <div class="page-hero">
    <div class="container">
      <h1>Privacy Policy</h1>
    </div>
  </div>

  <section class="section">
    <div class="container">
      <div class="prose" style="text-align: center;">
        <div
          class="uc-privacy-policy"
          data-privacy-policy-id="a0c7ca27-714f-49b9-bb43-40146ab61e6c"
        ></div>
      </div>
    </div>
  </section>
</Layout>

<script is:inline src="https://policygenerator.usercentrics.eu/api/privacy-policy"></script>
